# Config files
.env

# IDEs e sistemas
.vscode/
.idea/
.DS_Store
Thumbs.db

# Arquivos com credenciais (ex: GCP)
**/credentials/*.json

# Arquivos de output locais
crash.log
*.log

# Arquivos temporários do editor
*.swp
*.swo
*.bak
*.tmp
